 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: #fef8f8;}
  
   html{
      scroll-behavior: smooth;
   }
  
   body{
      background-color: #11306E;
   }
  
   h1 {
     padding-top: 24px;
     padding-bottom: 16px;
     text-align: center;
     font-size: 26px ;
     font-weight: 700;
   } 
   h1 span {
     font-weight: 200;
   }

   h2{
     font-size: 22px;
     font-weight: 600;
     text-align: center;
   }
  
  
   a{
     position: relative;
     margin-right: 6%;
     float: right;
     transition: all .4s ease-in-out;
   }

   a::after {
     content:"";
     position: absolute;
     height: 2px;
     width: 100%;
     bottom: 0;
     left: 0;
     transform-origin: right;
     transform: scaleX(0);
     background-color: #fff;
     transition: transform .4s cubic-bezier(0.19, 1, 0.22, 1);
   }


   a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
   }
  
  
  
   .grid {
     margin-top: 48px;
     margin-right: auto;
     margin-left: auto;
     width: 90%;
     display: grid;
     grid-template-columns: 1fr;
     justify-content: center;
     align-items: center;
     gap: 32px;
   }
  
   .rapper {
     text-align: center;
     width: 200px;
     margin: 0 auto;
  }
  .rapper img {
     width: 200px;
     height: 200px;
     object-fit: cover;
   }
  
  
   
   @media screen and (min-width: 768px) {
     .grid {
       grid-template-columns: repeat(3, 1fr);
     }
   }
   
   @media screen and (min-width: 992px) {
     .grid {
       grid-template-columns: repeat(5, 1fr);
     }
   }