<h1>Rap<span>Guez</span></h1>
<section class="hero">
  <h2>Nos rappeurs</h2>
    <%= link_to "Ajouter un rappeur ?", new_rapper_path, data: {text: "Ajouter un rappeur ?"} %>
</section>


<section class="grid">
  <% @rappers.each do |rapper| %>
    <div class="rapper">
        <%= image_tag(rapper.image) %>
        <p>
          <%= rapper.name%>
        </p>
    </div>
  <% end %>
</section>